@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #121212;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
 background: #7e7c7c;
 border-radius: 100vw;
}

body {
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@layer components {
    .button {
        @apply h-7 w-7 cursor-pointer hover:scale-125 transition transform duration-100 ease-out;
    }
}
